$color-labs-red: #a0372d !default;
$color-darkest-grey: #282828 !default;
$color-dark-grey: #4a4a4a !default;
$color-mid-grey: #696969 !default;
$color-light-grey: #767676 !default;
$color-lightest-grey: #f2f2f2 !default;
$color-white: white !default;

$color-timed-text-editor-background-color : #f1f1f1 !default;

$color-media-player-background: transparent !default;
$color-media-player-title: #282828 !default;

$color-media-player-current-time: #282828 !default;
$color-media-player-time-box-separator: #282828 !default;
$color-media-player-duration-time: #282828 !default;

$color-timed-text-editor-background: transparent !default;
$color-btn-background: lightgrey !default;
$color-btn-color: #282828 !default;
$color-btn-color-hover: darkgrey !default;
