$color-labs-red: #a0372d !default;
$color-darkest-grey: #282828 !default;
$color-dark-grey: #4a4a4a !default;
$color-mid-grey: #696969 !default;
$color-light-grey: #767676 !default;
$color-lightest-grey: #f2f2f2 !default;
$color-subt-green: #69e3c2 !default;
$color-light-shilo: #E2A9A2 !default;
