$color-labs-red: #a0372d !default;
$color-darkest-grey: #282828 !default;
$color-dark-grey: #4a4a4a !default;
$color-mid-grey: #696969 !default;
$color-light-grey: #767676 !default;
$color-lightest-grey: #f2f2f2 !default;
$color-white: white !default;

$color-media-player-background: black !default;
$color-media-player-title: white !default;

$color-media-player-current-time: #E2A9A2 !default;
$color-media-player-time-box-separator: white !default;
$color-media-player-duration-time: white !default;

$color-media-player-mobile-current-time: #E2A9A2 !default;
$color-media-player-mobile-time-box-separator: white !default;
$color-media-player-mobile-duration-time: white !default;

$color-timed-text-editor-background: #f1f1f1  !default;
$color-btn-background: #282828 !default;
$color-btn-color: white !default;
$color-btn-color-hover: #4a4a4a !default;
