body {
  margin: 0;
  padding: 0.5em;
}

.container {
  height: 100vh;
  font-family: ReithSerif, Fallback, sans-serif;
}

.demoNavItem {
  padding-right: 1em;
  text-align: center;
}

.sectionLabel {
  display: block;
  text-align: center;
  font-size: 0.9em;
  font-weight: 500;
}

[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

[type="file"] + label {
  display: inline-block;
  box-sizing: border-box;
  background-color: #5b97ef;
  color: white;
  cursor: pointer;
  font-size: 0.7em;
  padding: 0.75em 1.5em;
  margin-top: 0.5em;
  margin-right: 0.5em;
  text-align: center;
  width: 140px;
  max-width: 140px;
}

[type="file"]:focus + label,
[type="file"] + label:hover {
    background-color: #4f7bc0;
}

.demoNav section button {
  background-color: #5b97ef;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  font-size: 0.7em;
  margin-top: 0.5em;
  margin-right: 0.5em;
  width: 140px;
  max-width: 140px;
  white-space: nowrap;
}

.demoNav section button:hover {
  background-color: #4f7bc0;
}

.warningButton {
  background-color: #d25b56 !important;
}

.warningButton:hover {
  background-color: #b6332b !important;
}

.demoButton {
  background-color: #74b567 !important;
}

.demoButton:hover {
  background-color: #528946 !important;
}

.dropdown {
  display: block;
  margin: 0.5em auto;
  width: 140px;
}

.fileNameLabel {
  display: block;
  text-align: center;
  font-size: 0.5em;
  margin: 0.5em;
}

.titleLabel {
  margin-left: 0.5em;
  font-style: italic;
  font-size: 0.7em;
}

.editableLabel {
  font-size: 0.7em;
}

/* desktop */
@media (min-width: 767px) {
  .demoNav {
    display: flex;
    justify-content: space-between;
  }
}

/* phone */
@media (max-width: 767px) {
  body {
    padding: 0;
    text-align: center;
  }

  .demoNavItem {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0;
    border-bottom: 1px solid grey;
  }

  .demoNav section button {
    display: inline-block;
  }

  .checkbox {
    display: block;
  }
}
