.topSection {
  background: black;
}

.playerSection {
  display: inline-flex;
  align-items: flex-start;
  width: 100%;
}

.controlsSection {
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 1em;
  position: relative;
  // overflow-x: auto;
  // overflow-y: auto;
}

.title {
  color: white;
  line-height: 1.2em;
  width: 60%;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1.2em;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {

  .title {
    text-align: center;
    padding-top: 1em;
    white-space: normal;
  }
}
